/*! MEAN-Framework - 1.0.1 - 2014-01-24 */

/* line 9, ../../src/sass/style.scss */
h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: HelveticaNeue-Light, Helvetica Neue Light;
  font-weight: normal;
}

/* line 15, ../../src/sass/style.scss */
button {
  margin-bottom: 0px !important;
  width: 100%;
  height: 70px;
}

/* line 20, ../../src/sass/style.scss */
input {
  width: 100%;
  height: 45px;
  border: 0;
  font-size: 22px;
}

/* line 27, ../../src/sass/style.scss */
body {
  font-size: 16px;
  background: #bcd695;
  color: white;
  font-family: HelveticaNeue-Light, Helvetica Neue Light;
}

/* line 34, ../../src/sass/style.scss */
* {
  box-sizing: border-box;
  position: relative;
  outline: none;
}
